openapi: 3.2.0
info:
  title: River Markets Fills API
  description: '# Getting Started


    River Markets provides users with a unified prime brokerage interface for prediction markets, including

    - Liquidity aggregation

    - Order routing

    - Market and data search


    This API guide will help you get up and running quickly.'
  contact:
    name: River Markets
    url: https://rivermarkets.com/
  license:
    name: Proprietary
  version: 1.0.0
servers:
- url: https://api.rivermarkets.com
security:
- SignedRequestKeyId: []
  SignedRequestTimestamp: []
  SignedRequestSignature: []
- BearerAuth: []
tags:
- name: Fills
  description: Retrieve trade execution history and fill details.
paths:
  /v1/fills:
    get:
      tags:
      - Fills
      summary: Get Fills
      description: 'Fetch fills/trades for the user''s subaccounts.


        Returns fills grouped by subaccount, filterable by instrument and time range.'
      operationId: get_fills_v1_fills_get
      parameters:
      - name: subaccount_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Subaccount Id
      - name: river_id
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          title: River Id
      - name: start_time
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Start Time
      - name: end_time
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: End Time
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 1000
          minimum: 1
          default: 100
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserFillListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    FillResponse:
      properties:
        river_id:
          type: integer
          title: River Id
        client_order_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Client Order Id
        exchange_order_id:
          type: string
          title: Exchange Order Id
        exchange_trade_id:
          type: string
          title: Exchange Trade Id
        exchange_timestamp:
          type: string
          title: Exchange Timestamp
          description: Execution timestamp from exchange (UTC)
        price:
          type: number
          title: Price
        qty:
          type: number
          title: Qty
        fee:
          type: number
          title: Fee
        buy_flag:
          type: boolean
          title: Buy Flag
        is_maker:
          type: boolean
          title: Is Maker
        counterparty_address:
          anyOf:
          - type: string
          - type: 'null'
          title: Counterparty Address
        counterparty_exchange_order_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Counterparty Exchange Order Id
      type: object
      required:
      - river_id
      - exchange_order_id
      - exchange_trade_id
      - exchange_timestamp
      - price
      - qty
      - fee
      - buy_flag
      - is_maker
      title: FillResponse
      description: Schema for fill response.
    UserFillListResponse:
      properties:
        subaccount_to_fills:
          items:
            additionalProperties:
              anyOf:
              - type: string
              - items:
                  $ref: '#/components/schemas/FillResponse'
                type: array
            type: object
          type: array
          title: Subaccount To Fills
      type: object
      required:
      - subaccount_to_fills
      title: UserFillListResponse
      description: Schema for list of fills for a user.
  securitySchemes:
    SignedRequestKeyId:
      type: apiKey
      in: header
      name: X-River-Key-Id
      description: UUID of your API key (from Settings → API Keys).
    SignedRequestTimestamp:
      type: apiKey
      in: header
      name: X-River-Timestamp
      description: Current unix seconds. Must be within 30s of server time.
    SignedRequestSignature:
      type: apiKey
      in: header
      name: X-River-Signature
      description: 'Base64 Ed25519 signature over the canonical request: METHOD\nPATH\nSORTED_QUERY\nTIMESTAMP\nSHA256(body) hex. See /api-reference/authentication for the full recipe.'
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT bearer token for web client authentication.
