openapi: 3.2.0
info:
  title: River Markets Complex Orders API
  description: '# Getting Started


    River Markets provides users with a unified prime brokerage interface for prediction markets, including

    - Liquidity aggregation

    - Order routing

    - Market and data search


    This API guide will help you get up and running quickly.'
  contact:
    name: River Markets
    url: https://rivermarkets.com/
  license:
    name: Proprietary
  version: 1.0.0
servers:
- url: https://api.rivermarkets.com
security:
- SignedRequestKeyId: []
  SignedRequestTimestamp: []
  SignedRequestSignature: []
- BearerAuth: []
tags:
- name: complex-orders
  description: 'Manage complex orders: conditional orders (take-profit and stop-loss), TWAP, and other advanced order types.'
paths:
  /v1/complex-orders:
    get:
      tags:
      - complex-orders
      summary: List Complex Orders
      description: 'List complex orders (conditional and iceberg) with optional filters.


        Returns a dict keyed by complex order type (`conditional_orders`,

        `iceberg_orders`). Use `complex_order_type` to restrict to one type.'
      operationId: list_complex_orders_v1_complex_orders_get
      parameters:
      - name: complex_order_type
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Filter by complex order type: CONDITIONAL, TWAP, ICEBERG, PEG.'
          title: Complex Order Type
        description: 'Filter by complex order type: CONDITIONAL, TWAP, ICEBERG, PEG.'
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Filter by status name. Interpreted per complex_order_type (ConditionalOrderStatus for CONDITIONAL, IcebergOrderStatus for ICEBERG, PegOrderStatus for PEG). Unknown names for the active type are ignored.
          title: Status
        description: Filter by status name. Interpreted per complex_order_type (ConditionalOrderStatus for CONDITIONAL, IcebergOrderStatus for ICEBERG, PegOrderStatus for PEG). Unknown names for the active type are ignored.
      - name: river_id
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Filter by instrument ID
          title: River Id
        description: Filter by instrument ID
      - name: generic_asset_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          description: Filter by generic asset basket ID
          title: Generic Asset Id
        description: Filter by generic asset basket ID
      - name: subaccount_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          description: Filter to a specific subaccount
          title: Subaccount Id
        description: Filter to a specific subaccount
      - name: complex_order_ids
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
              format: uuid
          - type: 'null'
          description: Filter by complex order IDs
          title: Complex Order Ids
        description: Filter by complex order IDs
      - name: parent_river_order_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          description: Filter by parent order ID
          title: Parent River Order Id
        description: Filter by parent order ID
      - name: unparented_only
        in: query
        required: false
        schema:
          type: boolean
          description: When true, only return conditional orders with no parent_river_order_id (standalone stops). Ignored for non-conditional types.
          default: false
          title: Unparented Only
        description: When true, only return conditional orders with no parent_river_order_id (standalone stops). Ignored for non-conditional types.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 1000
          minimum: 1
          description: Results per page (max 1000)
          default: 100
          title: Limit
        description: Results per page (max 1000)
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Pagination offset
          default: 0
          title: Offset
        description: Pagination offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplexOrderListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - complex-orders
      summary: Create Complex Order
      description: 'Create a new complex order (conditional or iceberg).


        Provide exactly one of `conditional_order_params` (TP/SL/STOP) or

        `iceberg_order_params`. The body shape determines the complex_order_type.


        Returns 202 Accepted with the persisted complex order in PENDING status,

        enqueued for activation by the appropriate consumer service.'
      operationId: create_complex_order_v1_complex_orders_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplexOrderCreateRequest'
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplexOrderCreateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/complex-orders/cancel-all:
    post:
      tags:
      - complex-orders
      summary: Cancel All Complex Orders
      description: 'Cancel all cancellable complex orders (conditional and iceberg) for a subaccount.


        Returns the list of complex_order_ids that were submitted for cancellation.'
      operationId: cancel_all_complex_orders_v1_complex_orders_cancel_all_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAllComplexOrdersRequest'
        required: true
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelComplexOrderResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/complex-orders/{complex_order_id}:
    get:
      tags:
      - complex-orders
      summary: Get Complex Order
      description: Get a single complex order by ID (conditional or iceberg).
      operationId: get_complex_order_v1_complex_orders__complex_order_id__get
      parameters:
      - name: complex_order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Complex Order Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplexOrderResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - complex-orders
      summary: Cancel Complex Order
      description: 'Cancel a single complex order (conditional or iceberg).


        Returns 202 Accepted. Cancellation is processed asynchronously by the

        appropriate consumer service.'
      operationId: cancel_complex_order_v1_complex_orders__complex_order_id__delete
      parameters:
      - name: complex_order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Complex Order Id
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelComplexOrderResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ComplexOrderListResponse:
      properties:
        complex_orders:
          additionalProperties:
            items:
              $ref: '#/components/schemas/ComplexOrderResponse'
            type: array
          type: object
          title: Complex Orders
          description: List of complex orders matching the query
        count:
          type: integer
          title: Count
          description: Total count of matching complex orders (for pagination)
      type: object
      required:
      - complex_orders
      - count
      title: ComplexOrderListResponse
      description: Schema for list of complex orders (all types).
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ComplexOrderResponse:
      properties:
        complex_order_id:
          type: string
          format: uuid
          title: Complex Order Id
          description: Unique complex order identifier
        complex_order_type:
          type: string
          title: Complex Order Type
          description: 'Complex order type: CONDITIONAL, TWAP, etc.'
        complex_order_subtype:
          anyOf:
          - type: string
          - type: 'null'
          title: Complex Order Subtype
          description: 'Complex order subtype: TP, SL, STOP, etc.'
        subaccount_id:
          type: string
          format: uuid
          title: Subaccount Id
          description: Subaccount the order belongs to
        river_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: River Id
          description: Instrument ID
        generic_asset_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Generic Asset Id
          description: Generic asset basket ID
        status:
          type: string
          title: Status
          description: Order status (interpretation depends on complex_order_type)
        created_at:
          type: string
          title: Created At
          description: Creation timestamp (UTC)
        updated_at:
          type: string
          title: Updated At
          description: Last update timestamp (UTC)
        conditional_order:
          anyOf:
          - $ref: '#/components/schemas/ConditionalOrderResponse'
          - type: 'null'
          description: Conditional order detail
        iceberg_order:
          anyOf:
          - $ref: '#/components/schemas/IcebergOrderResponse'
          - type: 'null'
          description: Iceberg order detail
        peg_order:
          anyOf:
          - $ref: '#/components/schemas/PegOrderResponse'
          - type: 'null'
          description: Peg order detail
        smart_taker_order:
          anyOf:
          - $ref: '#/components/schemas/SmartTakerOrderResponse'
          - type: 'null'
          description: Smart-taker order detail
      type: object
      required:
      - complex_order_id
      - complex_order_type
      - subaccount_id
      - status
      - created_at
      - updated_at
      title: ComplexOrderResponse
      description: Schema for a complex order response (unified across all complex order types).
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    SmartTakerOrderParams:
      properties:
        buy_flag:
          type: boolean
          title: Buy Flag
          description: 'Direction: true=buy, false=sell'
        total_qty:
          type: number
          exclusiveMinimum: 0.0
          title: Total Qty
          description: Total quantity to acquire/offload across all IOC clips
        limit_price:
          type: number
          exclusiveMaximum: 1.0
          exclusiveMinimum: 0.0
          title: Limit Price
          description: Worst price the taker will accept — max for buy, min for sell (between 0 and 1)
        min_qty:
          type: number
          exclusiveMinimum: 0.0
          title: Min Qty
          description: 'Book-depth trigger gate: only fire when at least this much acceptable liquidity sits within limit_price on the opposite side. A depth floor, not a per-clip fill floor — it may exceed total_qty (e.g. ''take my 100 only when >=500 is resting'') and an IOC may fill less if liquidity vanishes mid-flight.'
        expiry_ts_utc:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Expiry Ts Utc
          description: Optional expiry timestamp in UTC (ISO 8601). Once it passes, the order stops firing and is torn down by the periodic reconciliation sweep.
      type: object
      required:
      - buy_flag
      - total_qty
      - limit_price
      - min_qty
      title: SmartTakerOrderParams
      description: 'Parameters for creating a smart-taker complex order.


        A smart-taker rests nothing on the book. It watches the opposite side and

        fires an IOC sweep (at `limit_price`, for the full remaining qty) whenever at

        least `min_qty` of acceptable liquidity (price within `limit_price`) is

        resting on the book — amortising taker fee/spread and refusing to cross into

        a thin book.'
    IcebergOrderParams:
      properties:
        buy_flag:
          type: boolean
          title: Buy Flag
          description: 'Direction: true=buy, false=sell'
        total_qty:
          type: number
          exclusiveMinimum: 0.0
          title: Total Qty
          description: Total iceberg quantity (across all tranches)
        displayed_qty:
          type: number
          exclusiveMinimum: 0.0
          title: Displayed Qty
          description: Tranche size — quantity shown to the market at any moment
        limit_price:
          type: number
          exclusiveMaximum: 1.0
          exclusiveMinimum: 0.0
          title: Limit Price
          description: Static limit price for every tranche (between 0 and 1)
        post_only:
          type: boolean
          title: Post Only
          description: If true, every tranche is posted as post-only (maker-only)
          default: false
        cancel_order_on_pause:
          type: boolean
          title: Cancel Order On Pause
          description: 'Kalshi only: if true, resting tranches are cancelled by the exchange when it enters a trading pause. Ignored on other venues.'
          default: true
        reload_delay_s:
          anyOf:
          - type: integer
            maximum: 3600.0
            minimum: 0.0
          - type: 'null'
          title: Reload Delay S
          description: Optional delay between a tranche fully filling and the next one being placed, in seconds. NULL or 0 = place next tranche immediately.
        expiry_ts_utc:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Expiry Ts Utc
          description: Optional expiry timestamp in UTC (ISO 8601). When set, every tranche is submitted to the venue as GTD with this expiry; venue-side expiry of a tranche cascades to cancel the parent iceberg.
      type: object
      required:
      - buy_flag
      - total_qty
      - displayed_qty
      - limit_price
      title: IcebergOrderParams
      description: 'Parameters for creating an iceberg complex order.


        An iceberg''s `total_qty` is split into sequential `displayed_qty` tranches

        posted at the same `limit_price`. When a tranche fully fills, the next is

        placed automatically until the total is exhausted or the iceberg is cancelled.'
    CancelComplexOrderResponse:
      properties:
        cancelled_complex_order_ids:
          items:
            type: string
            format: uuid
          type: array
          title: Cancelled Complex Order Ids
          description: List of cancelled complex order identifiers
        failed_cancelled_complex_order_ids:
          additionalProperties:
            type: string
          propertyNames:
            format: uuid
          type: object
          title: Failed Cancelled Complex Order Ids
          description: Dictionary of failed to cancel complex order identifiers and reasons
      type: object
      required:
      - cancelled_complex_order_ids
      - failed_cancelled_complex_order_ids
      title: CancelComplexOrderResponse
      description: Schema for cancel order response What is returned when user cancels an order/ orders.
    PegOrderParams:
      properties:
        buy_flag:
          type: boolean
          title: Buy Flag
          description: 'Direction: true=buy, false=sell'
        total_qty:
          type: number
          exclusiveMinimum: 0.0
          title: Total Qty
          description: Total peg quantity
        min_price:
          anyOf:
          - type: number
            exclusiveMaximum: 1.0
            exclusiveMinimum: 0.0
          - type: 'null'
          title: Min Price
          description: Price floor — the child never rests below this (between 0 and 1)
        max_price:
          anyOf:
          - type: number
            exclusiveMaximum: 1.0
            exclusiveMinimum: 0.0
          - type: 'null'
          title: Max Price
          description: Price ceiling — the child never rests above this (between 0 and 1)
        post_only:
          type: boolean
          title: Post Only
          description: If true, the resting child order is posted as post-only; a repeg that would cross the book cancels the peg instead of taking liquidity
          default: false
        expiry_ts_utc:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Expiry Ts Utc
          description: Optional expiry timestamp in UTC (ISO 8601). When set, the resting child is submitted to the venue as GTD with this expiry; venue-side expiry cancels the peg (caught by the periodic reconciliation sweep).
        peg_min_stay_time_s:
          anyOf:
          - type: integer
            maximum: 3600.0
            minimum: 0.0
          - type: 'null'
          title: Peg Min Stay Time S
          description: Optional repeg gate. When set, a price-driven repeg is suppressed until the resting child has been on the book for at least this many seconds (measured from send time). Expiry-driven cancels are unaffected.
        max_qty_level:
          anyOf:
          - type: number
            exclusiveMinimum: 0.0
          - type: 'null'
          title: Max Qty Level
          description: Penny-jump threshold (contracts). If the level the peg would join holds more than this many contracts, rest one tick tighter instead (if not crossing the book and not already quoting the level). Unset to disable.
      type: object
      required:
      - buy_flag
      - total_qty
      title: PegOrderParams
      description: 'Parameters for creating a peg complex order.


        A peg''s child limit order rests on the venue at the current best bid (for buys)

        or best ask (for sells), clamped to the absolute band [min_price, max_price]:

        the child never rests below min_price or above max_price. Both bounds are

        optional — an unset min floors at 0, an unset max ceils at 1. The peg worker

        repegs the child as the top of book moves.'
    ConditionalOrderResponse:
      properties:
        parent_river_order_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Parent River Order Id
          description: Parent order ID that this conditional is attached to (for TP/SL)
        parent_complex_order_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Parent Complex Order Id
          description: Parent complex order ID that this conditional is attached to (for chaining)
        conditional_order_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Conditional Order Type
          description: 'Type of conditional order: TP (take profit), SL (stop loss), or STOP'
        stop_order_price:
          anyOf:
          - type: number
          - type: 'null'
          title: Stop Order Price
          description: Activation price for STOP conditional orders. The price at which the conditional triggers and places the trigger order.
        trigger_stop_order_price:
          anyOf:
          - type: number
          - type: 'null'
          title: Trigger Stop Order Price
          description: Stop/reverse-stop price for the triggered order (SL or TP MARKET)
        trigger_order_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Trigger Order Type
          description: 'Order type of the triggered order: LIMIT or MARKET'
        trigger_order_qty:
          anyOf:
          - type: number
          - type: 'null'
          title: Trigger Order Qty
          description: Quantity of the triggered order
        trigger_order_limit_price:
          anyOf:
          - type: number
          - type: 'null'
          title: Trigger Order Limit Price
          description: Limit price of the triggered order (if LIMIT)
        trigger_order_buy_flag:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Trigger Order Buy Flag
          description: 'Direction of the triggered order: true=buy, false=sell'
        trigger_river_order_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Trigger River Order Id
          description: River order ID of the triggered order (set once activated)
        trigger_complex_order_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Trigger Complex Order Id
          description: Complex order ID of the triggered order (set once activated)
      type: object
      title: ConditionalOrderResponse
      description: 'Response for a conditional order. Contains both the condition definition and the trigger order

        that gets placed when the condition is met.


        For TP/SL: the parent order fills → the conditional activates → the trigger order is placed.

        For STOP/REVERSE_STOP: stop_order_price is reached → the trigger order is placed.'
    TriggerOrder:
      properties:
        order_type:
          type: string
          enum:
          - LIMIT
          - MARKET
          - RFQ_TAKER
          description: 'Order type for the triggered order: ''LIMIT'' or ''MARKET'''
        qty:
          type: number
          exclusiveMinimum: 0.0
          title: Qty
          description: Quantity (number of contracts) for the triggered order
        price:
          anyOf:
          - type: number
            exclusiveMaximum: 1.0
            exclusiveMinimum: 0.0
          - type: 'null'
          title: Price
          description: Limit price for the triggered order (between 0 and 1). Required when order_type is LIMIT.
        buy_flag:
          type: boolean
          title: Buy Flag
          description: 'Direction of the triggered order: true=buy, false=sell'
        stop_order_price:
          anyOf:
          - type: number
            exclusiveMaximum: 1.0
            exclusiveMinimum: 0.0
          - type: 'null'
          title: Stop Order Price
          description: 'Price at which the triggered order activates as a stop or reverse stop. Required for SL (stop trigger) and TP MARKET (reverse stop trigger). For SL: triggers when price moves against you. For TP MARKET: triggers when price moves in your favor.'
      type: object
      required:
      - order_type
      - qty
      - buy_flag
      title: TriggerOrder
      description: 'The order that will be sent to the exchange when the conditional order''s condition is met.


        For TP/SL: the parent order fills → the conditional activates → this trigger order is placed.

        For STOP/REVERSE_STOP: the stop_order_price is reached → this trigger order is placed.'
    ComplexOrderCreateRequest:
      properties:
        subaccount_id:
          type: string
          format: uuid
          title: Subaccount Id
          description: Subaccount to create the order under
        river_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: River Id
          description: Instrument ID. Mutually exclusive with generic_asset_id.
        generic_asset_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Generic Asset Id
          description: Generic asset basket ID. Mutually exclusive with river_id.
        conditional_order_params:
          anyOf:
          - $ref: '#/components/schemas/ConditionalOrderCreate'
          - type: 'null'
          description: Conditional order parameters (TP/SL/STOP)
        iceberg_order_params:
          anyOf:
          - $ref: '#/components/schemas/IcebergOrderParams'
          - type: 'null'
          description: Iceberg order parameters
        peg_order_params:
          anyOf:
          - $ref: '#/components/schemas/PegOrderParams'
          - type: 'null'
          description: Peg order parameters
        smart_taker_order_params:
          anyOf:
          - $ref: '#/components/schemas/SmartTakerOrderParams'
          - type: 'null'
          description: Smart-taker order parameters
      type: object
      required:
      - subaccount_id
      title: ComplexOrderCreateRequest
      description: 'Request body for creating a complex order.


        Provide exactly one of `conditional_order_params` (TP/SL/STOP) or

        `iceberg_order_params` (iceberg). The active param block determines the

        complex_order_type.'
    CancelAllComplexOrdersRequest:
      properties:
        subaccount_id:
          type: string
          format: uuid
          title: Subaccount Id
          description: Subaccount to cancel all complex orders for
        river_ids:
          anyOf:
          - items:
              type: integer
            type: array
          - type: 'null'
          title: River Ids
          description: If set, only cancel cancellable complex orders for these instruments. Must be either omitted/null or a non-empty list.
      type: object
      required:
      - subaccount_id
      title: CancelAllComplexOrdersRequest
      description: Request body for cancelling all complex orders for a subaccount.
    PegOrderResponse:
      properties:
        buy_flag:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Buy Flag
          description: Direction
        total_qty:
          anyOf:
          - type: number
          - type: 'null'
          title: Total Qty
          description: Total peg quantity
        min_price:
          anyOf:
          - type: number
          - type: 'null'
          title: Min Price
          description: Price floor — the child never rests below this
        max_price:
          anyOf:
          - type: number
          - type: 'null'
          title: Max Price
          description: Price ceiling — the child never rests above this
        post_only:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Post Only
          description: Whether the resting child order is post-only
        executed_qty:
          anyOf:
          - type: number
          - type: 'null'
          title: Executed Qty
          description: Sum of filled child qty
        remaining_qty:
          anyOf:
          - type: number
          - type: 'null'
          title: Remaining Qty
          description: total_qty - executed_qty
        expiry_ts_utc:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Expiry Ts Utc
          description: Expiry timestamp in UTC, if set. The child is submitted as GTD with this expiry.
        peg_min_stay_time_s:
          anyOf:
          - type: integer
          - type: 'null'
          title: Peg Min Stay Time S
          description: Minimum seconds a resting child must stay on the book before a price-driven repeg is allowed, if set.
        max_qty_level:
          anyOf:
          - type: number
          - type: 'null'
          title: Max Qty Level
          description: 'Penny-jump threshold (contracts): levels larger than this are stepped past, one tick inside the spread.'
        reject_reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Reject Reason
          description: Reason for rejection, if any
      type: object
      title: PegOrderResponse
      description: 'Peg-specific runtime detail returned alongside a ComplexOrderResponse.


        Sourced from `view_peg_orders` so it includes derived fields

        (executed_qty, remaining_qty).'
    ComplexOrderCreateResponse:
      properties:
        complex_order_id:
          type: string
          format: uuid
          title: Complex Order Id
          description: Unique complex order identifier
      type: object
      required:
      - complex_order_id
      title: ComplexOrderCreateResponse
      description: Schema for a complex order response (unified across all complex order types).
    ConditionalOrderCreate:
      properties:
        conditional_order_type:
          type: string
          enum:
          - TP
          - SL
          - STOP
          - REVERSE_STOP
          description: 'Type of conditional order: TP (take profit), SL (stop loss), or STOP'
        stop_order_price:
          anyOf:
          - type: number
            exclusiveMaximum: 1.0
            exclusiveMinimum: 0.0
          - type: 'null'
          title: Stop Order Price
          description: Activation price for STOP conditional orders. This is the price at which the conditional order triggers and places the trigger_order.
        trigger_order:
          $ref: '#/components/schemas/TriggerOrder'
          description: The order that gets placed when the conditional order activates. For TP/SL this happens after the parent order fills; for STOP this happens when stop_order_price is reached.
        parent_river_order_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Parent River Order Id
          description: Parent order ID (required for TP and SL)
        parent_complex_order_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Parent Complex Order Id
          description: Parent complex order ID (for chaining)
      type: object
      required:
      - conditional_order_type
      - trigger_order
      title: ConditionalOrderCreate
      description: Schema for a conditional order (take profit or stop loss) attached to a parent order.
    SmartTakerOrderResponse:
      properties:
        buy_flag:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Buy Flag
          description: Direction
        total_qty:
          anyOf:
          - type: number
          - type: 'null'
          title: Total Qty
          description: Total quantity across all IOC clips
        limit_price:
          anyOf:
          - type: number
          - type: 'null'
          title: Limit Price
          description: Worst price the taker will accept
        min_qty:
          anyOf:
          - type: number
          - type: 'null'
          title: Min Qty
          description: Book-depth trigger gate (min acceptable liquidity resting before firing)
        executed_qty:
          anyOf:
          - type: number
          - type: 'null'
          title: Executed Qty
          description: Sum of filled child qty
        remaining_qty:
          anyOf:
          - type: number
          - type: 'null'
          title: Remaining Qty
          description: total_qty - executed_qty
        expiry_ts_utc:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Expiry Ts Utc
          description: Expiry timestamp in UTC, if set.
        reject_reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Reject Reason
          description: Reason for rejection, if any
      type: object
      title: SmartTakerOrderResponse
      description: 'Smart-taker-specific runtime detail returned alongside a ComplexOrderResponse.


        Sourced from `view_smart_taker_orders` so it includes derived fields

        (executed_qty, remaining_qty).'
    IcebergOrderResponse:
      properties:
        buy_flag:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Buy Flag
          description: Direction
        total_qty:
          anyOf:
          - type: number
          - type: 'null'
          title: Total Qty
          description: Total iceberg quantity
        displayed_qty:
          anyOf:
          - type: number
          - type: 'null'
          title: Displayed Qty
          description: Tranche size
        limit_price:
          anyOf:
          - type: number
          - type: 'null'
          title: Limit Price
          description: Static limit price for every tranche
        post_only:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Post Only
          description: Whether tranches are posted as post-only
        cancel_order_on_pause:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Cancel Order On Pause
          description: 'Kalshi only: whether the exchange cancels resting tranches during a trading pause'
        reload_delay_s:
          anyOf:
          - type: integer
            maximum: 3600.0
            minimum: 0.0
          - type: 'null'
          title: Reload Delay S
          description: Inter-tranche reload delay in seconds, if set. NULL or 0 = place next tranche immediately.
        executed_qty:
          anyOf:
          - type: number
          - type: 'null'
          title: Executed Qty
          description: Sum of fully-executed child tranches' qty
        remaining_qty:
          anyOf:
          - type: number
          - type: 'null'
          title: Remaining Qty
          description: total_qty - executed_qty
        expiry_ts_utc:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Expiry Ts Utc
          description: Expiry timestamp in UTC, if set. Tranches are submitted as GTD with this expiry.
        reject_reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Reject Reason
          description: Reason for rejection, if any
      type: object
      title: IcebergOrderResponse
      description: 'Iceberg-specific runtime detail returned alongside a ComplexOrderResponse.


        Sourced from `view_iceberg_orders` so it includes derived fields

        (executed_qty, remaining_qty).'
  securitySchemes:
    SignedRequestKeyId:
      type: apiKey
      in: header
      name: X-River-Key-Id
      description: UUID of your API key (from Settings → API Keys).
    SignedRequestTimestamp:
      type: apiKey
      in: header
      name: X-River-Timestamp
      description: Current unix seconds. Must be within 30s of server time.
    SignedRequestSignature:
      type: apiKey
      in: header
      name: X-River-Signature
      description: 'Base64 Ed25519 signature over the canonical request: METHOD\nPATH\nSORTED_QUERY\nTIMESTAMP\nSHA256(body) hex. See /api-reference/authentication for the full recipe.'
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT bearer token for web client authentication.
