openapi: 3.2.0
info:
  title: River Markets Balance API
  description: '# Getting Started


    River Markets provides users with a unified prime brokerage interface for prediction markets, including

    - Liquidity aggregation

    - Order routing

    - Market and data search


    This API guide will help you get up and running quickly.'
  contact:
    name: River Markets
    url: https://rivermarkets.com/
  license:
    name: Proprietary
  version: 1.0.0
servers:
- url: https://api.rivermarkets.com
security:
- SignedRequestKeyId: []
  SignedRequestTimestamp: []
  SignedRequestSignature: []
- BearerAuth: []
tags:
- name: Balance
paths:
  /v1/balance/exchange:
    get:
      tags:
      - Balance
      summary: Get Exchange Balance
      description: Return live exchange balances (Kalshi, Polymarket) for a non-custodial subaccount.
      operationId: get_exchange_balance_v1_balance_exchange_get
      parameters:
      - name: subaccount_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
          description: Non-custodial subaccount to fetch exchange balances for
          title: Subaccount Id
        description: Non-custodial subaccount to fetch exchange balances for
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeBalanceResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ExchangeBalance:
      properties:
        exchange_id:
          type: integer
          title: Exchange Id
        exchange_name:
          type: string
          title: Exchange Name
        balance:
          anyOf:
          - type: string
            pattern: ^(?!^[-+.]*$)[+-]?0*\d*\.?\d*$
          - type: 'null'
          title: Balance
        error:
          anyOf:
          - type: string
          - type: 'null'
          title: Error
      type: object
      required:
      - exchange_id
      - exchange_name
      title: ExchangeBalance
    ExchangeBalanceResponse:
      properties:
        subaccount_id:
          type: string
          format: uuid
          title: Subaccount Id
        balances:
          items:
            $ref: '#/components/schemas/ExchangeBalance'
          type: array
          title: Balances
      type: object
      required:
      - subaccount_id
      - balances
      title: ExchangeBalanceResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    SignedRequestKeyId:
      type: apiKey
      in: header
      name: X-River-Key-Id
      description: UUID of your API key (from Settings → API Keys).
    SignedRequestTimestamp:
      type: apiKey
      in: header
      name: X-River-Timestamp
      description: Current unix seconds. Must be within 30s of server time.
    SignedRequestSignature:
      type: apiKey
      in: header
      name: X-River-Signature
      description: 'Base64 Ed25519 signature over the canonical request: METHOD\nPATH\nSORTED_QUERY\nTIMESTAMP\nSHA256(body) hex. See /api-reference/authentication for the full recipe.'
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT bearer token for web client authentication.
