openapi: 3.2.0
info:
  title: River Markets Fair Values API
  description: '# Getting Started


    River Markets provides users with a unified prime brokerage interface for prediction markets, including

    - Liquidity aggregation

    - Order routing

    - Market and data search


    This API guide will help you get up and running quickly.'
  contact:
    name: River Markets
    url: https://rivermarkets.com/
  license:
    name: Proprietary
  version: 1.0.0
servers:
- url: https://api.rivermarkets.com
security:
- SignedRequestKeyId: []
  SignedRequestTimestamp: []
  SignedRequestSignature: []
- BearerAuth: []
tags:
- name: fair-values
paths:
  /v1/fair-values:
    get:
      tags:
      - fair-values
      summary: List Fair Values
      description: List the caller's fair values, optionally scoped to one subaccount and/or one instrument.
      operationId: list_fair_values_v1_fair_values_get
      parameters:
      - name: subaccount_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          description: Restrict to a single subaccount
          title: Subaccount Id
        description: Restrict to a single subaccount
      - name: river_id
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Restrict to a single instrument
          title: River Id
        description: Restrict to a single instrument
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FairValueListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - fair-values
      summary: Set Fair Value
      description: Set the fair value for an instrument on a subaccount (insert-or-overwrite).
      operationId: set_fair_value_v1_fair_values_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FairValueUpsert'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FairValueResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/fair-values/{subaccount_id}/{river_id}:
    delete:
      tags:
      - fair-values
      summary: Delete Fair Value
      description: Clear the fair value for an instrument on a subaccount.
      operationId: delete_fair_value_v1_fair_values__subaccount_id___river_id__delete
      parameters:
      - name: subaccount_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Subaccount Id
      - name: river_id
        in: path
        required: true
        schema:
          type: integer
          title: River Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    FairValueResponse:
      properties:
        subaccount_id:
          type: string
          format: uuid
          title: Subaccount Id
        river_id:
          type: integer
          title: River Id
        fair_value:
          type: number
          title: Fair Value
        updated_at:
          type: string
          title: Updated At
      type: object
      required:
      - subaccount_id
      - river_id
      - fair_value
      - updated_at
      title: FairValueResponse
      description: A user-set fair value for one instrument on one subaccount.
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    FairValueUpsert:
      properties:
        subaccount_id:
          type: string
          format: uuid
          title: Subaccount Id
        river_id:
          type: integer
          title: River Id
        fair_value:
          type: number
          maximum: 1.0
          minimum: 0.0
          title: Fair Value
          description: Probability in [0, 1]
      type: object
      required:
      - subaccount_id
      - river_id
      - fair_value
      title: FairValueUpsert
      description: Request schema for setting a fair value (insert-or-overwrite).
    FairValueListResponse:
      properties:
        fair_values:
          items:
            $ref: '#/components/schemas/FairValueResponse'
          type: array
          title: Fair Values
      type: object
      required:
      - fair_values
      title: FairValueListResponse
  securitySchemes:
    SignedRequestKeyId:
      type: apiKey
      in: header
      name: X-River-Key-Id
      description: UUID of your API key (from Settings → API Keys).
    SignedRequestTimestamp:
      type: apiKey
      in: header
      name: X-River-Timestamp
      description: Current unix seconds. Must be within 30s of server time.
    SignedRequestSignature:
      type: apiKey
      in: header
      name: X-River-Signature
      description: 'Base64 Ed25519 signature over the canonical request: METHOD\nPATH\nSORTED_QUERY\nTIMESTAMP\nSHA256(body) hex. See /api-reference/authentication for the full recipe.'
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT bearer token for web client authentication.
