openapi: 3.2.0
info:
  title: River Markets Orders API
  description: '# Getting Started


    River Markets provides users with a unified prime brokerage interface for prediction markets, including

    - Liquidity aggregation

    - Order routing

    - Market and data search


    This API guide will help you get up and running quickly.'
  contact:
    name: River Markets
    url: https://rivermarkets.com/
  license:
    name: Proprietary
  version: 1.0.0
servers:
- url: https://api.rivermarkets.com
security:
- SignedRequestKeyId: []
  SignedRequestTimestamp: []
  SignedRequestSignature: []
- BearerAuth: []
tags:
- name: Orders
  description: Place and manage orders on prediction market exchanges.
paths:
  /v1/orders:
    post:
      tags:
      - Orders
      summary: Create Order
      description: 'Place a new order.


        Submits an order for asynchronous processing. The order is persisted immediately

        and queued for execution on the target exchange.


        See Orders and Order Types for more information.


        **Asset Selection:**

        Provide exactly one of `river_id` (standard instrument) or `generic_asset_id` (user-defined basket).

        Generic asset orders only support `MARKET` order type — the system automatically routes

        IOC limit orders to each underlying instrument at optimal prices.


        **Response:**

        Returns `202 Accepted` with the order_id and associated complex_orders ids (TP/SL).

        Poll `GET /v1/orders/{order_id}` or use webhooks to track execution.'
      operationId: create_order_v1_orders_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreate'
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCreateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Orders
      summary: List Orders
      description: 'List orders with optional filters.


        Returns a paginated list of orders across all accessible subaccounts, ordered by `created_at` descending.


        **Filters:**

        All filters are optional and can be combined. If no `subaccount_id` is specified,

        returns orders from all subaccounts the user has access to.


        **Order Statuses:**

        - `PENDING_SUBMISSION`: Order received, awaiting exchange submission.

        - `PROCESSING`: Being processed by the order consumer.

        - `RESTING`: Live on the exchange order book (may include partially-filled live orders).

        - `EXECUTED`: Terminal — fully filled.

        - `PARTIALLY_FILLED`: Terminal — cancelled with some quantity filled.

        - `CANCELLED`: Terminal — cancelled with no fills.

        - `REJECTED`: Rejected by exchange (see order details for reason).


        **Aggregated Fields:**

        Each order includes `traded_qty`, `average_price`, and `fees_paid` computed from fills.'
      operationId: list_orders_v1_orders_get
      parameters:
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by order status. Accepts a single OrderStatus name (e.g. 'RESTING') or the meta-value 'ACTIVE' which resolves to RESTING.
          title: Status
        description: Filter by order status. Accepts a single OrderStatus name (e.g. 'RESTING') or the meta-value 'ACTIVE' which resolves to RESTING.
      - name: river_id
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Filter by instrument ID
          title: River Id
        description: Filter by instrument ID
      - name: generic_asset_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          description: Filter by generic asset ID
          title: Generic Asset Id
        description: Filter by generic asset ID
      - name: subaccount_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          description: Filter to a specific subaccount
          title: Subaccount Id
        description: Filter to a specific subaccount
      - name: parent_iceberg_order_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          description: Filter to child tranches of a specific iceberg parent.
          title: Parent Iceberg Order Id
        description: Filter to child tranches of a specific iceberg parent.
      - name: parent_peg_order_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          description: Filter to child tranches of a specific peg parent.
          title: Parent Peg Order Id
        description: Filter to child tranches of a specific peg parent.
      - name: parent_smart_taker_order_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          description: Filter to IOC children of a specific smart-taker parent.
          title: Parent Smart Taker Order Id
        description: Filter to IOC children of a specific smart-taker parent.
      - name: buy_flag
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: 'Filter by direction: true=buys, false=sells'
          title: Buy Flag
        description: 'Filter by direction: true=buys, false=sells'
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Free-text search across the order''s market: ticker/slug, the human-readable question (event title, market name, outcome) via full-text + substring match, plus the order''s river_id / order id / generic asset id. Applied server-side over all matching orders, not just the current page.'
          title: Search
        description: 'Free-text search across the order''s market: ticker/slug, the human-readable question (event title, market name, outcome) via full-text + substring match, plus the order''s river_id / order id / generic asset id. Applied server-side over all matching orders, not just the current page.'
      - name: show_tp_sl_active
        in: query
        required: false
        schema:
          type: boolean
          description: When true, complex_order_ids only includes attached TP/SL orders with status PENDING or ACTIVE.
          default: false
          title: Show Tp Sl Active
        description: When true, complex_order_ids only includes attached TP/SL orders with status PENDING or ACTIVE.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 1000
          minimum: 1
          description: Results per page (max 1000)
          default: 100
          title: Limit
        description: Results per page (max 1000)
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Pagination offset
          default: 0
          title: Offset
        description: Pagination offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/orders/{order_id}:
    get:
      tags:
      - Orders
      summary: Get Order
      description: 'Get a single order by ID with its fills.


        Returns complete order details including execution history.


        **Use Cases:**

        - Track order progress and execution quality

        - Reconcile fills for accounting

        - Debug rejected or partially filled orders'
      operationId: get_order_v1_orders__order_id__get
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Order Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetailResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Orders
      summary: Cancel Order
      description: 'Cancel an existing order.


        Request cancellation of an order.

        Returns 202 Accepted with order state - cancellation is processed asynchronously.'
      operationId: cancel_order_v1_orders__order_id__delete
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Order Id
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Orders
      summary: Edit Order
      description: 'Edit (amend) a resting simple limit order.


        Only `qty` and `price` are editable. `qty` is the new TOTAL quantity (not remaining).

        The order must be RESTING, a simple order (no iceberg/peg parent), a single-instrument

        LIMIT order. Returns 202 Accepted; final status is delivered via the orders WS.'
      operationId: edit_order_v1_orders__order_id__patch
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Order Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderEditRequest'
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderEditResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/orders/{order_id}/queue-position:
    get:
      tags:
      - Orders
      summary: Get Order Queue Position
      description: 'Get the best (minimum) queue position across all exchange orders backing this river order.


        Currently supported only for Kalshi-backed orders.'
      operationId: get_order_queue_position_v1_orders__order_id__queue_position_get
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Order Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderQueuePositionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/orders/cancel-all:
    post:
      tags:
      - Orders
      summary: Cancel All Orders
      description: 'Cancel all open orders for a subaccount.


        If `river_ids` is set, only orders on those instruments are cancelled;

        it must be omitted/null or non-empty. Cancellation is processed

        asynchronously by the order consumer.'
      operationId: cancel_all_orders_v1_orders_cancel_all_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAllRequest'
        required: true
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    OrderListResponse:
      properties:
        orders:
          items:
            $ref: '#/components/schemas/OrderResponse'
          type: array
          title: Orders
          description: List of orders matching the query
        count:
          type: integer
          title: Count
          description: Total count of matching orders (for pagination)
      type: object
      required:
      - orders
      - count
      title: OrderListResponse
      description: Schema for list of orders.
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    OrderCreate:
      properties:
        order_type:
          type: string
          enum:
          - LIMIT
          - MARKET
          - RFQ_TAKER
          description: 'Order type: ''LIMIT'' or ''MARKET'''
        time_in_force:
          type: string
          enum:
          - FOK
          - GTC
          - GTD
          - IOC
          description: 'Time in force: ''FOK'', ''GTC'', ''GTD'', or ''IOC'''
        qty:
          type: number
          exclusiveMinimum: 0.0
          title: Qty
          description: Order quantity (number of contracts)
        price:
          anyOf:
          - type: number
            exclusiveMaximum: 1.0
            exclusiveMinimum: 0.0
          - type: 'null'
          title: Price
          description: Limit price between 0 and 1. Required for LIMIT orders.
        buy_flag:
          type: boolean
          title: Buy Flag
          description: 'Order direction: true=buy, false=sell'
        post_only:
          type: boolean
          title: Post Only
          description: If true, the order is rejected instead of taking liquidity. Only valid for LIMIT orders with a resting time in force (GTC or GTD).
          default: false
        cancel_order_on_pause:
          type: boolean
          title: Cancel Order On Pause
          description: 'Kalshi only: if true, the resting order is cancelled by the exchange when it enters a trading pause. Ignored on other venues.'
          default: true
        river_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: River Id
          description: Instrument ID. Mutually exclusive with generic_asset_id.
        generic_asset_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Generic Asset Id
          description: Generic asset basket UUID. Mutually exclusive with river_id.
        subaccount_id:
          type: string
          format: uuid
          title: Subaccount Id
          description: Subaccount to place the order under
        expiry_ts_utc:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Expiry Ts Utc
          description: Expiry timestamp in UTC(ISO 8601). Required for GTD orders. i.e '2023-11-07T05:31:56Z'
        conditional_orders_params:
          anyOf:
          - items:
              $ref: '#/components/schemas/ConditionalOrderCreate'
            type: array
          - type: 'null'
          title: Conditional Orders Params
          description: Optional list of conditional orders (TP/SL) to attach to this order.
      type: object
      required:
      - order_type
      - time_in_force
      - qty
      - buy_flag
      - subaccount_id
      title: OrderCreate
      description: Schema for creating a new order.
    OrderQueuePositionResponse:
      properties:
        river_order_id:
          type: string
          format: uuid
          title: River Order Id
          description: River order identifier
        exchange_order_id:
          type: string
          title: Exchange Order Id
          description: Exchange order ID with the best (minimum) queue priority
        queue_position:
          type: number
          title: Queue Position
          description: Number of preceding shares in the queue ahead of this order (lower is better priority)
      type: object
      required:
      - river_order_id
      - exchange_order_id
      - queue_position
      title: OrderQueuePositionResponse
      description: Schema for the queue-position response of an order.
    CancelOrderResponse:
      properties:
        cancelled_river_order_ids:
          items:
            type: string
            format: uuid
          type: array
          title: Cancelled River Order Ids
          description: List of cancelled river order identifiers
        failed_cancelled_reasons:
          additionalProperties:
            type: string
          propertyNames:
            format: uuid
          type: object
          title: Failed Cancelled Reasons
          description: Dictionary of failed to cancel river order identifiers and reasons
      type: object
      required:
      - cancelled_river_order_ids
      - failed_cancelled_reasons
      title: CancelOrderResponse
      description: Schema for cancel order response
    OrderResponse:
      properties:
        river_order_id:
          type: string
          format: uuid
          title: River Order Id
          description: Unique order identifier
        order_type:
          type: string
          title: Order Type
          description: 'Order type: LIMIT or MARKET'
        time_in_force:
          type: string
          title: Time In Force
          description: 'Time in force: FOK, GTC, GTD, or IOC'
        qty:
          type: number
          title: Qty
          description: Original order quantity
        price:
          anyOf:
          - type: number
          - type: 'null'
          title: Price
          description: Limit price (null for market orders)
        buy_flag:
          type: boolean
          title: Buy Flag
          description: 'Order direction: true=buy, false=sell'
        post_only:
          type: boolean
          title: Post Only
          description: Whether the order is post-only (maker-only)
          default: false
        cancel_order_on_pause:
          type: boolean
          title: Cancel Order On Pause
          description: 'Kalshi only: whether the exchange cancels the resting order during a trading pause'
          default: true
        status:
          type: string
          title: Status
          description: 'Order status. Live: PENDING_SUBMISSION, PROCESSING, RESTING. Terminal: EXECUTED, PARTIALLY_FILLED (cancelled with some fills), CANCELLED, REJECTED.'
        river_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: River Id
          description: Instrument ID
        generic_asset_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Generic Asset Id
          description: Generic asset basket UUID
        subaccount_id:
          type: string
          format: uuid
          title: Subaccount Id
          description: Subaccount the order belongs to
        expiry_ts_utc:
          anyOf:
          - type: string
          - type: 'null'
          title: Expiry Ts Utc
          description: Expiry timestamp in UTC for GTD orders
        created_at:
          type: string
          title: Created At
          description: Order creation timestamp (UTC)
        updated_at:
          type: string
          title: Updated At
          description: Last update timestamp (UTC)
        traded_qty:
          type: number
          title: Traded Qty
          description: Total quantity filled
          default: 0.0
        average_price:
          anyOf:
          - type: number
          - type: 'null'
          title: Average Price
          description: Volume-weighted average fill price
        fees_paid:
          type: number
          title: Fees Paid
          description: Total fees paid across all fills
          default: 0.0
        complex_order_ids:
          additionalProperties:
            items:
              type: string
              format: uuid
            type: array
          type: object
          title: Complex Order Ids
          description: List of complex river orders id
        reject_reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Reject Reason
          description: Reason for rejection (if status is REJECTED)
        parent_iceberg_order_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Parent Iceberg Order Id
          description: If this order is a tranche of an iceberg parent, the parent's id; otherwise null.
        parent_peg_order_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Parent Peg Order Id
          description: If this order is the resting child of a peg parent, the parent's id; otherwise null.
        parent_smart_taker_order_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Parent Smart Taker Order Id
          description: If this order is an IOC child of a smart-taker parent, the parent's id; otherwise null.
      type: object
      required:
      - river_order_id
      - order_type
      - time_in_force
      - qty
      - buy_flag
      - status
      - subaccount_id
      - created_at
      - updated_at
      - complex_order_ids
      title: OrderResponse
      description: Schema for order response, when user request information about an order.
    OrderDetailResponse:
      properties:
        river_order_id:
          type: string
          format: uuid
          title: River Order Id
          description: Unique order identifier
        order_type:
          type: string
          title: Order Type
          description: 'Order type: LIMIT or MARKET'
        time_in_force:
          type: string
          title: Time In Force
          description: 'Time in force: FOK, GTC, GTD, or IOC'
        qty:
          type: number
          title: Qty
          description: Original order quantity
        price:
          anyOf:
          - type: number
          - type: 'null'
          title: Price
          description: Limit price (null for market orders)
        buy_flag:
          type: boolean
          title: Buy Flag
          description: 'Order direction: true=buy, false=sell'
        post_only:
          type: boolean
          title: Post Only
          description: Whether the order is post-only (maker-only)
          default: false
        cancel_order_on_pause:
          type: boolean
          title: Cancel Order On Pause
          description: 'Kalshi only: whether the exchange cancels the resting order during a trading pause'
          default: true
        status:
          type: string
          title: Status
          description: 'Order status. Live: PENDING_SUBMISSION, PROCESSING, RESTING. Terminal: EXECUTED, PARTIALLY_FILLED (cancelled with some fills), CANCELLED, REJECTED.'
        river_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: River Id
          description: Instrument ID
        generic_asset_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Generic Asset Id
          description: Generic asset basket UUID
        subaccount_id:
          type: string
          format: uuid
          title: Subaccount Id
          description: Subaccount the order belongs to
        expiry_ts_utc:
          anyOf:
          - type: string
          - type: 'null'
          title: Expiry Ts Utc
          description: Expiry timestamp in UTC for GTD orders
        created_at:
          type: string
          title: Created At
          description: Order creation timestamp (UTC)
        updated_at:
          type: string
          title: Updated At
          description: Last update timestamp (UTC)
        traded_qty:
          type: number
          title: Traded Qty
          description: Total quantity filled
          default: 0.0
        average_price:
          anyOf:
          - type: number
          - type: 'null'
          title: Average Price
          description: Volume-weighted average fill price
        fees_paid:
          type: number
          title: Fees Paid
          description: Total fees paid across all fills
          default: 0.0
        complex_order_ids:
          additionalProperties:
            items:
              type: string
              format: uuid
            type: array
          type: object
          title: Complex Order Ids
          description: List of complex river orders id
        reject_reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Reject Reason
          description: Reason for rejection (if status is REJECTED)
        parent_iceberg_order_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Parent Iceberg Order Id
          description: If this order is a tranche of an iceberg parent, the parent's id; otherwise null.
        parent_peg_order_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Parent Peg Order Id
          description: If this order is the resting child of a peg parent, the parent's id; otherwise null.
        parent_smart_taker_order_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Parent Smart Taker Order Id
          description: If this order is an IOC child of a smart-taker parent, the parent's id; otherwise null.
        fills:
          items:
            $ref: '#/components/schemas/OrderFillResponse'
          type: array
          title: Fills
          description: List of executions (fills) for this order
          default: []
      type: object
      required:
      - river_order_id
      - order_type
      - time_in_force
      - qty
      - buy_flag
      - status
      - subaccount_id
      - created_at
      - updated_at
      - complex_order_ids
      title: OrderDetailResponse
      description: Schema for order detail response including fills.
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    OrderCreateResponse:
      properties:
        river_order_id:
          type: string
          format: uuid
          title: River Order Id
          description: Unique order identifier
        complex_orders:
          additionalProperties:
            items:
              type: string
              format: uuid
            type: array
          type: object
          title: Complex Orders
          description: List of complex river orders id
      type: object
      required:
      - river_order_id
      - complex_orders
      title: OrderCreateResponse
      description: Schema for order create response.
    OrderEditRequest:
      properties:
        qty:
          anyOf:
          - type: number
            exclusiveMinimum: 0.0
          - type: 'null'
          title: Qty
          description: New total order quantity
        price:
          anyOf:
          - type: number
            exclusiveMaximum: 1.0
            exclusiveMinimum: 0.0
          - type: 'null'
          title: Price
          description: New limit price (between 0 and 1)
      type: object
      title: OrderEditRequest
      description: 'Schema for editing (amending) an existing simple limit order.


        `qty` is the TOTAL order quantity (not remaining) — matches Kalshi''s amend semantics.

        At least one of `qty` or `price` must be provided.'
    OrderEditResponse:
      properties:
        river_order_id:
          type: string
          format: uuid
          title: River Order Id
          description: Unique order identifier
        status:
          type: string
          title: Status
          description: Always PENDING_AMEND. Final status (RESTING on success, REJECTED on failure) is delivered via the orders WS.
      type: object
      required:
      - river_order_id
      - status
      title: OrderEditResponse
      description: Schema for order edit response.
    TriggerOrder:
      properties:
        order_type:
          type: string
          enum:
          - LIMIT
          - MARKET
          - RFQ_TAKER
          description: 'Order type for the triggered order: ''LIMIT'' or ''MARKET'''
        qty:
          type: number
          exclusiveMinimum: 0.0
          title: Qty
          description: Quantity (number of contracts) for the triggered order
        price:
          anyOf:
          - type: number
            exclusiveMaximum: 1.0
            exclusiveMinimum: 0.0
          - type: 'null'
          title: Price
          description: Limit price for the triggered order (between 0 and 1). Required when order_type is LIMIT.
        buy_flag:
          type: boolean
          title: Buy Flag
          description: 'Direction of the triggered order: true=buy, false=sell'
        stop_order_price:
          anyOf:
          - type: number
            exclusiveMaximum: 1.0
            exclusiveMinimum: 0.0
          - type: 'null'
          title: Stop Order Price
          description: 'Price at which the triggered order activates as a stop or reverse stop. Required for SL (stop trigger) and TP MARKET (reverse stop trigger). For SL: triggers when price moves against you. For TP MARKET: triggers when price moves in your favor.'
      type: object
      required:
      - order_type
      - qty
      - buy_flag
      title: TriggerOrder
      description: 'The order that will be sent to the exchange when the conditional order''s condition is met.


        For TP/SL: the parent order fills → the conditional activates → this trigger order is placed.

        For STOP/REVERSE_STOP: the stop_order_price is reached → this trigger order is placed.'
    ConditionalOrderCreate:
      properties:
        conditional_order_type:
          type: string
          enum:
          - TP
          - SL
          - STOP
          - REVERSE_STOP
          description: 'Type of conditional order: TP (take profit), SL (stop loss), or STOP'
        stop_order_price:
          anyOf:
          - type: number
            exclusiveMaximum: 1.0
            exclusiveMinimum: 0.0
          - type: 'null'
          title: Stop Order Price
          description: Activation price for STOP conditional orders. This is the price at which the conditional order triggers and places the trigger_order.
        trigger_order:
          $ref: '#/components/schemas/TriggerOrder'
          description: The order that gets placed when the conditional order activates. For TP/SL this happens after the parent order fills; for STOP this happens when stop_order_price is reached.
        parent_river_order_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Parent River Order Id
          description: Parent order ID (required for TP and SL)
        parent_complex_order_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Parent Complex Order Id
          description: Parent complex order ID (for chaining)
      type: object
      required:
      - conditional_order_type
      - trigger_order
      title: ConditionalOrderCreate
      description: Schema for a conditional order (take profit or stop loss) attached to a parent order.
    CancelAllRequest:
      properties:
        subaccount_id:
          type: string
          format: uuid
          title: Subaccount Id
        river_ids:
          anyOf:
          - items:
              type: integer
            type: array
          - type: 'null'
          title: River Ids
          description: If set, only cancel open orders for these instruments; otherwise cancel all open orders on the subaccount. Must be either omitted/null or a non-empty list.
      type: object
      required:
      - subaccount_id
      title: CancelAllRequest
      description: Request body for cancelling all orders for a subaccount.
    OrderFillResponse:
      properties:
        river_id:
          type: integer
          title: River Id
          description: Instrument ID
        exchange_order_id:
          type: string
          title: Exchange Order Id
          description: Exchange-assigned order ID
        exchange_trade_id:
          type: string
          title: Exchange Trade Id
          description: Exchange-assigned trade/fill ID
        exchange_timestamp:
          type: string
          title: Exchange Timestamp
          description: Execution timestamp from exchange (UTC)
        price:
          type: number
          title: Price
          description: Execution price
        qty:
          type: number
          title: Qty
          description: Filled quantity
        fee:
          type: number
          title: Fee
          description: Fee charged by the exchange for this fill
        buy_flag:
          type: boolean
          title: Buy Flag
          description: 'Fill direction: true=buy, false=sell'
        is_maker:
          type: boolean
          title: Is Maker
          description: Whether this fill provided liquidity (maker) or took it (taker)
      type: object
      required:
      - river_id
      - exchange_order_id
      - exchange_trade_id
      - exchange_timestamp
      - price
      - qty
      - fee
      - buy_flag
      - is_maker
      title: OrderFillResponse
      description: Schema for a single fill on an order.
  securitySchemes:
    SignedRequestKeyId:
      type: apiKey
      in: header
      name: X-River-Key-Id
      description: UUID of your API key (from Settings → API Keys).
    SignedRequestTimestamp:
      type: apiKey
      in: header
      name: X-River-Timestamp
      description: Current unix seconds. Must be within 30s of server time.
    SignedRequestSignature:
      type: apiKey
      in: header
      name: X-River-Signature
      description: 'Base64 Ed25519 signature over the canonical request: METHOD\nPATH\nSORTED_QUERY\nTIMESTAMP\nSHA256(body) hex. See /api-reference/authentication for the full recipe.'
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT bearer token for web client authentication.
