openapi: 3.2.0
info:
  title: River Markets Tradeprints API
  description: '# Getting Started


    River Markets provides users with a unified prime brokerage interface for prediction markets, including

    - Liquidity aggregation

    - Order routing

    - Market and data search


    This API guide will help you get up and running quickly.'
  contact:
    name: River Markets
    url: https://rivermarkets.com/
  license:
    name: Proprietary
  version: 1.0.0
servers:
- url: https://api.rivermarkets.com
security:
- SignedRequestKeyId: []
  SignedRequestTimestamp: []
  SignedRequestSignature: []
- BearerAuth: []
tags:
- name: tradeprints
  description: Recent trades for a market. Pairs with the /v1/ws/tradeprints WebSocket for live updates.
paths:
  /v1/tradeprints:
    get:
      tags:
      - tradeprints
      summary: Get Tradeprints
      description: 'Return the most recent trades for one or more markets, sourced directly from

        the exchanges. Markets are fetched concurrently with a small semaphore

        (`MAX_CONCURRENT_FETCHES`) so a long input list never fans out into a

        thundering herd, and the result list preserves the input order. A failure

        on any single market becomes a `not_found` row with a message — the call as

        a whole does not 500.


        Per-market lookup paths:

        - Kalshi: `GET /markets/trades?ticker=...&limit=...`

        - Polymarket: `GET https://data-api.polymarket.com/trades?market=&limit=...`

        (both YES and NO legs are fetched and the NO leg is flipped into YES-price terms)


        Trades are sorted newest-first within each market. Prices are normalised to 0-1.


        Use this together with the `/v1/ws/tradeprints` WebSocket: hit this endpoint to

        backfill the tape on page load, then dedup live WS events by `exchange_trade_id`.'
      operationId: get_tradeprints_v1_tradeprints_get
      parameters:
      - name: river_ids
        in: query
        required: true
        schema:
          type: array
          items:
            type: integer
          description: River market IDs (repeat the param for each)
          title: River Ids
        description: River market IDs (repeat the param for each)
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          description: Max trades returned per market
          default: 50
          title: Limit
        description: Max trades returned per market
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeprintsBulkResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    TradeprintEvent:
      properties:
        exchange_timestamp:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Exchange Timestamp
          description: Exchange-reported trade timestamp (UTC)
        price:
          type: number
          title: Price
        qty:
          type: number
          title: Qty
        aggressor_buy_flag:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Aggressor Buy Flag
        exchange_trade_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Exchange Trade Id
          description: Exchange-assigned trade id. Used by clients to dedup overlap between REST backfill and WS live stream.
      type: object
      required:
      - price
      - qty
      title: TradeprintEvent
      description: 'A single trade print.


        `aggressor_buy_flag` is true when the aggressing (taker) side bought —

        i.e. the trade hit an ask. The frontend renders side color and "Buy/Sell"

        from this flag.'
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    TradeprintsStatus:
      type: string
      enum:
      - ok
      - pending
      - not_found
      title: TradeprintsStatus
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    TradeprintsResponse:
      properties:
        status:
          $ref: '#/components/schemas/TradeprintsStatus'
        river_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: River Id
        trades:
          items:
            $ref: '#/components/schemas/TradeprintEvent'
          type: array
          title: Trades
        message:
          anyOf:
          - type: string
          - type: 'null'
          title: Message
      type: object
      required:
      - status
      title: TradeprintsResponse
      description: Per-market block of recent trades from the exchange.
    TradeprintsBulkResponse:
      properties:
        results:
          items:
            $ref: '#/components/schemas/TradeprintsResponse'
          type: array
          title: Results
      type: object
      title: TradeprintsBulkResponse
      description: 'Response for `GET /v1/tradeprints?river_ids=...`.


        `results` preserves the order of the requested `river_ids`. Partial failures

        are surfaced per-row (status `not_found`) with a `message` — a bad river_id

        or upstream error never aborts the whole call.'
  securitySchemes:
    SignedRequestKeyId:
      type: apiKey
      in: header
      name: X-River-Key-Id
      description: UUID of your API key (from Settings → API Keys).
    SignedRequestTimestamp:
      type: apiKey
      in: header
      name: X-River-Timestamp
      description: Current unix seconds. Must be within 30s of server time.
    SignedRequestSignature:
      type: apiKey
      in: header
      name: X-River-Signature
      description: 'Base64 Ed25519 signature over the canonical request: METHOD\nPATH\nSORTED_QUERY\nTIMESTAMP\nSHA256(body) hex. See /api-reference/authentication for the full recipe.'
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT bearer token for web client authentication.
